.wrapper-color {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-image: linear-gradient(to right, #d6f4da, #d3fae5);
}

.wrapper {
    width           : 1200px;
    display         : flex;
    padding         : 20px;
    background-color: #f9f9f9;
    border-radius   : var(--border-radius-admin);
}

.container {
    flex: 1;
}